table.rcorner {
    border-radius: 45px 45px 0px 0px;
    background: url(background.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 99%;
    margin: 10px auto 0px auto;
    height: 250px;
    color: black;
    table-layout: fixed;
}

table.bodytable {
    color: black;
    width: 100%;
}

td.leftside {
    width: 250px;
}

td.rightside {
    padding: 0px 0px 0px 30px;
    text-align: left;
    font-size: 25px;
    font-family: Impact, Charcoal, sans-serif;
}

td.leftsidecolored {
    background: #3924b3;
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 100%;
}

td.leftsidecoloredfixed {
    width: 280px;
    background: #3924b3;
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 100%;
}

td.rightsidebody {
    border: 0px;
    margin: 0px;
    padding: 15px 15px 0px 15px;
    text-align: left;
    vertical-align: top;
}

tr {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #bdd9b1;
    color: #3924b3;
    padding: 0px;
    margin: 0px;
}

body.nobackground {
    color: #000000;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}

img {
    width: 250px;
}

.alignTop {
    vertical-align: top;
}