table {
  height: 650px;
  width: 200px;
  margin: 0 auto 0 auto;
}

.smallheader {
  height: 100px;
  text-align:center;
}

.imgrow {
   height: 300px;
}

.description {
  vertical-align: top;
}

div[name=liked] {
  background-color: #8CFF8C;
}

div[name=suggested] {
  background-color: #D0FFD0;
}
    